.first-section__content
    h1.h1-font.mt50 двери
    a(href="#").subm.small-btn-padding.input-font.mt30#getModal оставить заявку
        img(src="static/img/arrow.svg", alt="оставить заявку", title="оставить заявку")