.mission__wrapper.main-padding.main-y-padding
    .mission__content
        .mission__block.mb100-tablet
            h2.h2-font.border-left.pl20.mb20 Ценности
            .mission__textBlock.pl20
                p.main-body Компания Буд Партнер Про ценит каждого своего клиента, поэтому для нас важны <b>Ваши желания, Ваше доверие, долгосрочное сотрудничество с Вами.</b> 
                p.main-body.mt30 Так как мы делаем мебель на заказ, наши клиенты ценят нашу <b>гибкость</b> в работе, <b>качественное выполнение работы и работу в срок.</b>
        .mission__block
            h2.h2-font.border-left.pl20.mb20 Миссия
            .mission__textBlock.pl20
                p.main-body Наша миссия - создавать <b>долговечную, удобную, современную</b> мебель из современных материалов на заказ, предоставляя при этом <b>лучший сервис</b> и <b>конкурентные цены</b> и помогая Вам вопротить Ваши идеи в реальность.
    
    include ../components/absolute_lines-d