.provide-painting__wrapper.main-padding.main-y-padding
    .provide-painting__content
        h2.h2-font.border-left.pl20.mb50 мы осуществляем покраску:
        .provide-painting__items
            .provide-painting__item
                .provide-painting__img-wrap
                    img(src="/static/img/painting__provide1.png", alt="painting").provide-painting__img
                p.main-body.border-left.pl12.provide-painting__text Фасадов
            .provide-painting__item
                .provide-painting__img-wrap
                    img(src="/static/img/painting__provide2.png", alt="painting").provide-painting__img
                p.main-body.border-left.pl12.provide-painting__text Лестниц
            .provide-painting__item
                .provide-painting__img-wrap
                    img(src="/static/img/painting__provide3.png", alt="painting").provide-painting__img
                p.main-body.border-left.pl12.provide-painting__text Деревянных декоров
            .provide-painting__item
                .provide-painting__img-wrap
                    img(src="/static/img/painting__provide4.png", alt="painting").provide-painting__img
                p.main-body.border-left.pl12.provide-painting__text Стеновых панелей
            .provide-painting__item
                .provide-painting__img-wrap
                    img(src="/static/img/painting__provide5.png", alt="painting").provide-painting__img
                p.main-body.border-left.pl12.provide-painting__text Кроватей из массива дерева

    include ../components/absolute_lines-d