.our-goals__content
    display: grid
    grid-template-columns: repeat(4, 1fr)
    .our-goals__item
        .our-goals__item-inner
            padding-left: calculateWidth(20)
            height: 100%
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start
            .img-box
                min-height: 80px
            p
                width: 100%