.callback__wrapper.main-y-padding.main-padding
    .callback__content
        h2.h2-font.border-left.pl20.mb20.callback__heading оставьте заявку на обратный звонок 
        p.main-body-small.mb70.callback__text Оставьте заявку и мы Вам перезвоним, чтобы обсудить все детали и договориться о дальнейшей работе. Так же, Вы можете перейти в <a href="">контакты</a> и связаться с нами сейчас.
        .callback__form
            label(for="consultation_name") Имя
                img(src="static/img/man.svg", alt="man")
                input(type="text" id="consultation_name" placeholder="Имя" name="Имя" required).input-default.input-font
            label(for="consultation_phone") Телефон 
                img(src="static/img/black-phone.svg", alt="phone")
                input(type="text" id="consultation_phone" placeholder="Телефон" name="Телефон" required).input-default.input-font
            label(for="consultation_btn").img-reverted 
                button(type="submit" id="consultation_btn").subm.btn-padding.input-font оставить заявку
                img(src="static/img/arrow.svg", alt="arrow")