.clients__wrapper.main-padding
    .grid-template
        .border-item.border-left-d
        .border-item.border-left-d
        .border-item.border-left-d
        .border-item.border-left-d.border-right-d
    section.clients.pt150.pb150
        h2.border-left.pl20.h2-font.border-biggest наши клиенты и партнеры
        .clients__logos.pt50
            span
                img(src="static/img/logo1.png", alt="")
            span
                img(src="static/img/logo4.png", alt="")
            span
                img(src="static/img/logo2.png", alt="")
            span
                img(src="static/img/logo3.png", alt="")
            span
                img(src="static/img/logo5.png", alt="")
            span
                img(src="static/img/logo7.png", alt="")
            span
                img(src="static/img/logo6.png", alt="")