footer.main-padding
    form(action="")
        h3.text-center.h3-font  оставьте заявку на бесплатную консультацию

        label(for="consultation_name") Имя
            img(src="static/img/man.svg", alt="man")
            input(type="text" id="consultation_name" placeholder="Имя" name="Имя" required).input-default.input-font
        label(for="consultation_phone") Телефон 
            img(src="static/img/black-phone.svg", alt="phone")
            input(type="text" id="consultation_phone" placeholder="Телефон" name="Телефон" required).input-default.input-font
        label(for="consultation_btn").img-reverted 
            button(type="submit" id="consultation_btn").subm.btn-padding.input-font оставить заявку
            img(src="static/img/arrow.svg", alt="arrow")

    a(href="/").logo.border-left.pt350.pb100
        include ../svg/header__logo
    ul.pt350.pb100.border-left
        li.h4-font услуги

        -let services = new Map();
        -services.set('Кухни', 'kukhni.html').set('Гостинные', 'gostinye.html').set('Спальни', 'spalni.html').set('Шкафы, гардеробные', 'garderobnye.html').set('Ванные комнаты', 'vannye.html').set('Детские комнаты', 'detskie.html').set('Мебель для бизнеса', 'dlya-biznesa.html').set('Двери', 'dveri.html').set('Лестницы', 'lestniczy.html').set('Стеновые панели', 'stenovye-paneli.html').set('Покраска изделий', 'pokraska.html').set('Фасады', 'facades.html');
        -for(let [key, value] of services){
            li 
                a(href=""+value).main-body-small= key
        -}
    
    ul.pt350.pb100.border-left
        li.h4-font Полезные страницы

        -let usefulPages = new Map();
        -usefulPages.set('О нас', 'o-nas.html').set('Материалы', '#').set('Контакты', 'kontakty.html');
        -for(let [key, value] of usefulPages){
            li 
                a(href=""+value).main-body-small= key
        -}

    .contact-us.border-left.pt350.pb100.border-right
        ul
            li.h4-font Позвоните нам

            -let callUs = new Map();
            -callUs.set('+38 (095) 011-10-25', '+38(095)011-10-25').set('+38 (097) 232-97-79', '+38(097)232-97-79').set('+38 (044) 428-87-72', '+38(044)428-87-72').set('+38 (099) 491-41-98', '+38(099)491-41-98').set('+38 (050) 355-98-56', '+38(050)355-98-56)');
            -for(let [key, value] of callUs){
                li 
                    include ../svg/phone.pug
                    a(href="tel:"+value).underline.main-body-small= key
            -}

        ul.mt50
            li.h4-font Напишите нам

            -let eMails = new Map();
            -eMails.set('budpartnerpro@gmail.com', 'budpartnerpro@gmail.com').set('bud-partner-md@ukr.net', 'bud-partner-md@ukr.net').set('alex.bpmd@gmail.com', 'alex.bpmd@gmail.com');
            -for(let [key, value] of eMails){
                li 
                    include ../svg/mail.pug
                    a(href="mailto:"+value).underline.main-body-small= key
            -}

        .social-list.mt50
            a(href="#").mr20
                img(src="static/img/viber.svg", alt="viber")
            a(href="#")
                img(src="static/img/telegram.svg", alt="telegram")