header
    a(href="/").logo
        include ../svg/header__logo
    nav
        ul
            -let nav = new Map();
<<<<<<< HEAD
            -nav.set('услуги', 'services.html').set('о нас', 'aboutUs.html').set('контакты', 'contacts.html');
=======
            -nav.set('услуги', 'uslugi.html').set('о нас', 'o-nas.html').set('контакты', 'kontakty.html');
>>>>>>> 78c18ff4aad2b13cfbfecce775933417760332df
            -for(let [key, value] of nav){
                li
                    a(href="" + value).main-link= key
                    img(src="static/img/arrow.svg", alt="arrow")
            -}
            li 
                ul.language
                    li 
                        a(href="#").main-link RU
                        img(src="static/img/triangle.svg", alt="triangle")
                    li 
                        a(href="#").main-link UA
                        img(src="static/img/triangle.svg", alt="triangle")