.materials__wrapper.main-padding.main-y-padding
    .materials__content
        a(href="#" target="_blank").h2-font.heading-arrow.pl20.border-left материалы
        .materials__items.mt50
            .materials__item
                div(style="background-image: url('/static/img/materials__facades.png')").materials__img.materials__img--facades.p25
                    h3.h3-font Фасады
                .materials__text-block.p25
                    ul.main-body-small
                        li.materiasl__text-block-li МДФ крашенный
                        li.materiasl__text-block-li Массив дерева
                        li.materiasl__text-block-li Шпонированные
            .materials__item
                div(style="background-image: url('/static/img/materials__body.png')").materials__img.materials__img--body.p25
                    h3.h3-font корпуса
                .materials__text-block.p25
                    ul.main-body-small
                        li.materiasl__text-block-li Австрийского производства
                        li.materiasl__text-block-li Украинского производства
                        li.materiasl__text-block-li ЛДСП
            .materials__item
                div(style="background-image: url('/static/img/materials__furniture.png')").materials__img.materials__img--furniture.p25
                    h3.h3-font фурнитура
                .materials__text-block.p25
                    ul.main-body-small
                        li.materiasl__text-block-li Австрийского производстваб BLUM
                        li.materiasl__text-block-li Немецкого производства
                        li.materiasl__text-block-li Высококачественные китайского производства
