.our-works__wrapper.main-padding.main-y-padding
    .our-works__content
        h2.h2-font.pl20.border-left наши работы
        .our-works__slider-wrap
            .our-works__slider#ourWorksSlider
                //- .our-works__slider-item
                img(src="/static/img/services__main-bg.png", alt="our works").our-works__slider-img
                //- .our-works__slider-item
                img(src="/static/img/first_bg.png", alt="our works").our-works__slider-img
                //- .our-works__slider-item
                img(src="/static/img/services__main-bg.png", alt="our works").our-works__slider-img
                //- .our-works__slider-item
                img(src="/static/img/first_bg.png", alt="our works").our-works__slider-img


        include absolute_lines