.our-works__wrapper.main-padding.main-y-padding#ourWorksWrapper
    .our-works__content
        h2.h2-font.pl20.border-left наши работы
        .our-works__slider-wrap.mt50
            .our-works__slider#ourWorksSlider
                .our-works__slider-item
                    img(src="/static/img/kitchen__main-bg.png", alt="наши работы - кухни?" title="наши работы - кухни?").our-works__slider-img
                    .our-works__slider-scale
                .our-works__slider-item
                    img(src="/static/img/materials__facades.png", alt="наши работы - кухни?" title="наши работы - кухни?").our-works__slider-img
                    .our-works__slider-scale
                .our-works__slider-item
                    img(src="/static/img/facades__main-bg.png", alt="наши работы - кухни?" title="наши работы - кухни?").our-works__slider-img
                    .our-works__slider-scale
                .our-works__slider-item
                    img(src="/static/img/painting__main-bg.png", alt="наши работы - кухни?" title="наши работы - кухни?").our-works__slider-img
                    .our-works__slider-scale
                .our-works__slider-item
                    img(src="/static/img/bath__main-bg.png", alt="наши работы - кухни?" title="наши работы - кухни?").our-works__slider-img
                    .our-works__slider-scale
                .our-works__slider-item
                    img(src="/static/img/business__main-bg.png", alt="наши работы - кухни?" title="наши работы - кухни?").our-works__slider-img
                    .our-works__slider-scale
            .our-works__slider-buttons
                .rounded-button.rounded-button--left#nextArrow
                .rounded-button.rounded-button--right#prevArrow

    include absolute_lines-d