.process__wrapper.main-padding
    .grid-template
        .border-item.border-left-d
        .border-item.border-left-d
        .border-item.border-left-d
        .border-item.border-left-d.border-right-d
    section.process.pt30
        h2.border-left.pl20.h2-font.border-biggest процесс работы
        .process__content.pt50.pb150
            .process__item
                h5.h4-font 01. консультация
                p.main-body-small <a href="#modal"> Оставьте заявку </a> за сайте и получите бесплатную консультацию у нашего менеджера.
                img(src="static/img/process-1.svg", alt="")
            .process__item
                h5.h4-font 02. Замеры
                p.main-body-small В назначенное время наш специалист приедет к Вам на объект для замера помещения.
                img(src="static/img/process-2.svg", alt="замеры", title="замеры")
            .process__item
                h5.h4-font 03. проектировка
                p.main-body-small Дизайнер создает проект, учитывая Ваши пожелания и просчитывает стоимость Вашей мебели.
                img(src="static/img/process-3.svg", alt="проектировка", title="проектировка")
            .process__item
                h5.h4-font 04. договор
                p.main-body-small Мы утверждаем эскизы и сроки изготовления, после чего назначаем дату установки и заключаем договор.
                img(src="static/img/process-4.svg", alt="договор", title="договор")
            .process__item
                h5.h4-font 05. изготовление 
                p.main-body-small Команда наших специалистов занимается изготовлением Вашей мебели.
                img(src="static/img/process-5.svg", alt="изготовление", title="изготовление")
            .process__item
                h5.h4-font 06. монтаж
                p.main-body-small Предварительно созвонившись, в удобное для Вас время мы привозим и устанавливаем мебель.
                img(src="static/img/process-6.svg", alt="монтаж", title="монтаж")