.you-would-like__wrapper.main-padding.pt150
    .you-would-like__content
        h2.h2-font.border-left.pl20.mb50 вам может понравиться
        .you-would-like__items
            -const wouldLikeList = new Map();
            -wouldLikeList.set('Гостинные', {link: '#', url: '/static/img/services__main-all2.png'}).set('шкафы, гардеробные', {link: '#', url: '/static/img/services__main-all4.png'}).set('Ванные комнаты', {link: '#', url: '/static/img/services__main-all5.png'}).set('Детские комнаты', {link: '#', url: '/static/img/services__main-all6.png'}).set('Мебель для бизнеса', {link: '#', url: '/static/img/services__main-all7.png'}).set('Двери', {link: '#', url: '/static/img/services__main-all10.png'});
            - const attr = {};
            -for([key, value] of wouldLikeList){
            a(href=""+value.link).you-would-like__item
                .height-equal-width
                - attr.style = `background-image: url('${value.url}')`;
                div(class="content p15")&attributes(attr)
                    h4.h4-font.color-white.you-would-like__heading= key
            -}

            -for(let i = 0; i < 4; i++){
                a.you-would-like__item
            -}

    include absolute_lines-d
