.you-will-get__wrapper.main-padding.pt100.pb100
    .you-will-get__content
        h2.h2-font.border-left.pl20.you-will-get__heading.mb50 работая с нами, вы получите:
        .you-will-get__items
            .you-will-get__item
                h4.h4-font.heading-check.mb15 3 года гарантии
                p.main-body-small Мы ориентированы на долгосрочное сотрудничество, поэтому <b>качество</b> сервиса и изделий - наш приоритет.
            .you-will-get__item
                h4.h4-font.heading-check.mb15 современный дизайн
                p.main-body-small Мы работаем с <b>квалифицированными дизайнерами</b> и современными материалами. 
            .you-will-get__item
                h4.h4-font.heading-check.mb15 дизайн по вашим меркам
                p.main-body-small Мы готовы к созданию <b>нетиповых решений</b> и к любым Вашим идеям.
            .you-will-get__item
                h4.h4-font.heading-check.mb15 Согласование на всех этапах
                p.main-body-small Нам важна Ваша задумка и Ваше участие, поэтому проводим согласование на всех этапах: <b>дизайн-проект - чертеж - обсуждение нюансов</b>.

    include absolute_lines