.concept__wrapper.main-padding.pt100.pb100
    .concept__content
        h2.h2-font.border-left.pl20.mb70 Наша концепция
        .concept__items
            .concept__item.pt95
                h4.h4-font.mb30 гибкость
                p.main-body-small Мы воплотим Ваши идеи в жизнь и сделаем мебель, двери или лестницы, основываясь на особенностях Вашего помещения.
                img(src="/static/img/concept-bg1.svg", alt="гибкость", title="гибкость").concept__bg
            .concept__item.pt95
                h4.h4-font.mb30 Помощь в выборе
                p.main-body-small Мы поможем вам с выбором и предостережем от ошибок, исходя из своего опыта.
                img(src="/static/img/concept-bg2.svg", alt="помощь в выборе", title="помощь в выборе").concept__bg
            .concept__item.pt95
                h4.h4-font.mb30 не типовые решения
                p.main-body-small Мы приветствуем Ваше участие в разработке дизайна и мы готовы к созданию уникальных и трудновыполнимых изделий.
                img(src="/static/img/concept-bg3.svg", alt="не типовые решения", title="не типовые решения").concept__bg
            .concept__item.pt95 
                h4.h4-font.mb30 качество
                p.main-body-small Предоставление качественных материалов и фурнитуры разных ценовых категорий и брендов с <b>гарантией 3 года.</b>
                img(src="/static/img/concept-bg4.svg", alt="качество", title="качество").concept__bg

    include ../components/absolute_lines