.aboutUs-first-section__content.pt50
    h1.h1-font о нас
    .aboutUs-first-section__textBlock 
        p.main-body.pt15 Буд Партнер Про - мебельная компания, основанная в 2005 году в Киеве. Мы делаем индивидуальную, качественную мебель с гарантией 3 года. 
        p.main-body.pt30 Мы ориентированы на долгосрочное сотрудничество и теплые отношения с нашими клиентами.