.produce-from__wrapper.main-padding.pt100.bg-attachment-fixed
    .produce-form__content
        h2.h2-font.border-left.pl20.mb30.produce-from__heading Производим мебель с 2005 года
        p.main-body.produce-from__text За годы работы в сфере мебельного бизнеса, мы сделали более 700 проектов, выиграли X тендеров, ...
