.produce-from__wrapper.main-padding.pt100.bg-attachment-fixed
    .produce-form__content
        h2.h2-font.border-left.pl20.mb30.produce-from__heading Производим мебель с 2005 года
        p.main-body.produce-from__text Мы 15 лет на рынке производства мебели, выполнили 1500+ проектов разной сложности. Следим за мировыми дизайнерскими трендами и уже 10 лет делаем выбор в пользу экологически чистых материалов. Собственное производство сокращает сроки выполнения заказа на 30% по сравнению с конкурентами. А в нашем шоуруме, вы можете подробнее познакомиться с нами и нашими работами.
