<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(title="BudPartner")
        meta(description="Budparnter development")
        title 404
        link(rel="shortcut icon", href="static//img//icon.png", type="image/x-icon")
        link(rel="canonical", href="")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\slick.css")
    body
        .http-error__wrapper.main-padding.pt30
            include ../components/header-dark
            h2.h2-font.mt50.mb15.text-center ошибка 404
            h4.h4-font.mb70.text-center К сожалению, данная страница не была найдена
            p.main-body-small.text-center.mb15.http-error__text Вы сможете найти больше информации о мебели на заказ, если вернетесь на главную.
            .http-error__button
                a(href="/index.html").subm.small-btn-padding.input-font Вернуться на главную
                    img(src="/static/img/arrow.svg", alt="вернуться на главную")


