doctype html
html(land='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(title="BudPartner")
        meta(description="Budparnter development")
        title Home
        link(rel="shortcut icon", href="static//img//icon.png", type="image/x-icon")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\slick.css")
    body
        .first-section__wrapper.main-padding.pt30.pb45
            include ../components/header
            include ../homepage/first_screen
        .our-goals__wrapper.main-padding
            include ../homepage/goals
        .our-products__wrapper.main-padding
            include ../homepage/products
        .our-numbers__wrapper.main-padding
            include ../homepage/numbers
        .choose-us__wrapper.main-padding
            include ../homepage/choose-us
        include ../components/process
        .portfolio__wrapper.main-padding
            include ../homepage/portfolio
        .clients__wrapper.main-padding
            .grid-template
                .border-item.border-left-d
                .border-item.border-left-d
                .border-item.border-left-d
                .border-item.border-left-d.border-right-d
            section.clients.pt150.pb150
                h2.border-left.pl20.h2-font.border-biggest наши клиенты и партнеры
                .clients__logos.pt50
                    a(href="#")
                        img(src="static/img/logo1.png", alt="")
                    a(href="#")
                        img(src="static/img/logo4.png", alt="")
                    a(href="#")
                        img(src="static/img/logo2.png", alt="")
                    a(href="#")
                        img(src="static/img/logo3.png", alt="")
                    a(href="#")
                        img(src="static/img/logo5.png", alt="")
                    a(href="#")
                        img(src="static/img/logo7.png", alt="")
                    a(href="#")
                        img(src="static/img/logo6.png", alt="")

        include ../components/footer_bordered
        
        script(src="static//js//libs.min.js")
        script(src="static//js//main.js")