doctype html
html(land='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(title="BudPartner")
        meta(description="Budparnter development")
        title Home
        link(rel="shortcut icon", href="static//img//icon.png", type="image/x-icon")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\slick.css")
    body
        .first-section__wrapper.main-padding.pt30.pb45
            include ../components/header
            include ../homepage/first_screen
        .our-goals__wrapper.main-padding
            include ../homepage/goals
        .our-products__wrapper.main-padding
            .our-products__content
                h2.border-left.pl20.h2-font.border-biggest что мы производим
                ul.border-left-d.pt70.pb100
                    li.pt15 
                        a(href="#").h4-font.active-link Кухни
                    -let products = new Map();
                    -products.set('гостинные', '#').set('спальни', '#').set('шкафы, Гардеробные', '#').set('ванные комнаты', '#').set('мебель для бизнеса', '#').set('двери', '#').set('стеновые панели', '#').set('лестницы', '#').set('покраска изделий', '#').set('Мебельные фасады', '#');
                    -for(let [key, value] of products){
                        li.pt15 
                            a(href=""+value).h4-font= key
                    -}
                    li.mt70  
                        a(href="#").small-btn-padding.subm.input-font посмотреть все услуги
                .our-products__images

        include ../components/footer

        script(src="static//js//libs.min.js")
        script(src="static//js//main.js")