doctype html
html(land='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(title="BudPartner")
        meta(description="Budparnter development")
        title Home
        link(rel="shortcut icon", href="static//img//icon.png", type="image/x-icon")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\slick.css")
    body
        .first-section__wrapper.main-padding.pt30.pb45
            include ../components/header
            include ../components/first_screen
        .our-goals__wrapper.main-padding
            section.our-goals__content
                .our-goals__item.pt30.pb45.border-left-d
                    .our-goals__item-inner.border-left.border-big.pt15
                        .img-box
                            img(src="static/img/item-1.svg", alt="")
                        p.h4-font 15 лет на рынке
                .our-goals__item.pt30.pb45.border-left-d
                    .our-goals__item-inner.border-left.border-big.pt15
                        .img-box
                            img(src="static/img/item-2.svg", alt="")
                        p.h4-font Собственное производство
                .our-goals__item.pt30.pb45.border-left-d
                    .our-goals__item-inner.border-left.border-big.pt15
                        .img-box
                            img(src="static/img/item-3.svg", alt="")
                        p.h4-font гарантия 3 года
                .our-goals__item.pt30.pb45.border-left-d.border-right-d
                    .our-goals__item-inner.border-left.border-big.pt15
                        .img-box
                            img(src="static/img/item-4.svg", alt="")
                        p.h4-font Работаем с частными лицами и организациями

        include ../components/footer

        script(src="static//js//libs.min.js")
        script(src="static//js//main.js")