<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(title="BudPartner")
        meta(description="Budparnter development")
        title Kitchen
        link(rel="shortcut icon", href="static//img//icon.png", type="image/x-icon")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\slick.css")
    body
        .services__wrapper.kitchen-first-section__wrapper.main-padding.pt30.pb100
            include ../components/header
            include ../kitchen/first_section

        include ../components/our_works

        include ../components/materials

        include ../components/process

        include ../components/you_will_get

        include ../components/you_would_like
        
        include ../components/footer_bordered


        


        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")
        script(src="static/js/slider.js")
