<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(title="BudPartner")
        meta(description="Budparnter development")
        title Контакты
        link(rel="shortcut icon", href="static//img//icon.png", type="image/x-icon")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\slick.css")
    body
        .services__wrapper.contacts-first-section__wrapper.main-padding.pt30.pb175
            include ../components/header
            include ../kontakty/first_section

        include ../kontakty/contact_us

        include ../kontakty/contacts_callback

        include ../kontakty/find_us

        include ../components/footer_bordered



        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")
