<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(title="BudPartner")
        meta(description="Budparnter development")
        title О нас
        link(rel="shortcut icon", href="static//img//icon.png", type="image/x-icon")
        link(rel="canonical", href="")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\slick.css")
    body
        .services__wrapper.aboutUs-first-section__wrapper.main-padding.pt30.pb100
            include ../components/header
            include ../o-nas/first_section

        include ../o-nas/mission

        include ../o-nas/concept

        include ../o-nas/produce_from

        // include our partners

        include ../components/footer



        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")
