footer > * 
    height: 100%
footer
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(300px, 1fr) )
    grid-template-rows: 1fr
    width: 100%;
    position: absolute;
    bottom: 0
    background-color: $dark_blue;
    align-items: start
    grid-gap: 1px;
    ul 
        li 
            color: $white
            &:first-child
                margin-bottom: calculateHeight(5)
            &:not(:first-child)
                margin-top: calculateHeight(10)
            a 
                color: $white
                transition: color .3s
                &:hover
                    color: $orange