header
    width: 100%;
    display: flex;
    justify-content: space-between
    align-items: flex-start
    z-index: $zIndexFirst;
    nav
        ul
            li 
                text-align: right
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative
                &:not(:last-child)
                    margin-bottom: 10px
                    &:hover   
                        a 
                            color: $orange
                a
                    color: $white
                    margin-right: calculateWidth(5)
                img 
                    width: calculateWidth(15)
                ul.language
                    flex-grow: 0
                    position: absolute
                    top: 0
                    &:hover
                        li
                            display: flex;  
                    li 
                        display: none;
                        justify-content: flex-end;
                        align-items: center;
                        &:hover   
                            a 
                                color: $orange
                        a
                            color: $light_gray
                        &:first-child
                            display: flex;
                            img
                                opacity: 1
                        img
                            opacity: 0
                            width: calculateWidth(10)
                                
                    
.header__scroll
    background-color: transparent;
    position: fixed
    left: 0;
    top: 0;
    align-items: center;
    padding: calculateHeight(10) calculateWidth(120) 
    transition: box-shadow .3s
    background-color: $white;
    &:hover
        box-shadow: $main_shadow;
    .logo 
        width: calculateWidth(125)
        svg
            --color-logo: #00213C;
    nav 
        ul 
            display: flex;
            li 
                margin-bottom: initial !important
                a 
                    color: $dark-blue;
                    font-weight: bold;
                &:last-child
                    display: none
                &:not(:first-child)
                    margin-left: calculateWidth(70)
            .heading-arrow
                &::after
                    background-image: url(/static/img/darkArrow.svg)
                    width: calculateWidth(15)
                    height: calculateWidth(15)
                    margin: initial
                    top: 50%;
                    margin-top: calculateWidth(-7.5)
                    