.our-works
    &__slider
        &-item
            width: 360px
            height: 250px
        &-img
            width: 360px
            height: 250px


.slick-slide 
    width: 360px
    height: 250px

