.sale-staff__wrapper.pl120.pb150.pt150
    .sale-staff__content
        h2.h2-font.border-left.pl20.mb50 Торговое оборудование
        .business-slider__content
            ul.business-slider__text
                -const saleStaffList = ['Стеллажи', 'Прилавки', 'Витрины', 'Рецепшен', 'и т.д.'];
                -for(let item of saleStaffList){
                    li.main-body-small.business-slider__text-item.pl20= item
                -}
            .business-slider__wrap
                .business-slider__slider.saleStaffSlider
                    .business-slider__slider-item
                        img(src="/static/img/materials__facades.png", alt="Торговое оборудование", title="Торговое оборудование").business-slider__slider-img.business-slider__slider-img--saleStaff
                        .business-slider__slider-scale.business-slider__slider-scale--saleStaff
                    .business-slider__slider-item
                        img(src="/static/img/business__main-bg.png", alt="Торговое оборудование", title="Торговое оборудование").business-slider__slider-img.business-slider__slider-img--saleStaff
                        .business-slider__slider-scale.business-slider__slider-scale--saleStaff
                    .business-slider__slider-item
                        img(src="/static/img/materials__facades.png", alt="Торговое оборудование", title="Торговое оборудование").business-slider__slider-img.business-slider__slider-img--saleStaff
                        .business-slider__slider-scale.business-slider__slider-scale--saleStaff
                    .business-slider__slider-item
                        img(src="/static/img/kitchen__main-bg.png", alt="Торговое оборудование", title="Торговое оборудование").business-slider__slider-img.business-slider__slider-img--saleStaff
                        .business-slider__slider-scale.business-slider__slider-scale--saleStaff

                .business-slider__buttons
                    .rounded-button.rounded-button--left.saleStaffNextArrow
                    .rounded-button.rounded-button--right.saleStaffPrevArrow

    include ../components/absolute_lines-d