.grid-template
    .border-item.border-left
    .border-item.border-left
    .border-item.border-left
    .border-item.border-left.border-right
.white-bg
    .grid-template
        .border-item.border-left-d
        .border-item.border-left-d
        .border-item.border-left-d
        .border-item.border-left.border-right-d
section.choose-us.pt100
    .top-section
        h2.border-left.pl20.h2-font.border-biggest Почему вам стоит выбрать нас
        a(href="#").bold-link.active-link узнать больше про нас
    .choose-us__content.mt50.pb250
        .choose-us__item
            h4.h4-font выполняем работу в срок
            p.main-body-small.mt20 Мы знаем как для Вас важны сроки и ответственные компании. Чтобы предотвратить неготивный опыт, мы составляем и соблюдаем <strong> договор. </strong>
        .choose-us__item
            h4.h4-font современный дизайн
            p.main-body-small.mt20 Мы работаем с <strong> квалифицированными дизайнерами </strong> и <strong> современными материалами. </strong>
        .choose-us__item
            h4.h4-font гарантия 3 года
            p.main-body-small.mt20 Мы ориентированы на долгосрочное сотрудничество, поэтому <strong> качество </strong> сервиса и изделий - наш приоритет.