section.our-goals__content
    .our-goals__item.pt30.border-left-d.pb100
        .our-goals__item-inner.border-left.border-big.pt15
            .img-box
                img(src="static/img/item-1.svg", alt="")
            p.h4-font 15 лет на рынке
    .our-goals__item.pt30.border-left-d.pb100
        .our-goals__item-inner.border-left.border-big.pt15
            .img-box
                img(src="static/img/item-2.svg", alt="")
            p.h4-font Собственное производство
    .our-goals__item.pt30.border-left-d.pb100
        .our-goals__item-inner.border-left.border-big.pt15
            .img-box
                img(src="static/img/item-3.svg", alt="")
            p.h4-font гарантия 3 года
    .our-goals__item.pt30.border-left-d.border-right-d.pb100
        .our-goals__item-inner.border-left.border-big.pt15
            .img-box
                img(src="static/img/item-4.svg", alt="")
            p.h4-font Работаем с частными лицами и организациями