.grid-template
    .border-item.border-left-d
    .border-item.border-left-d
    .border-item.border-left-d
    .border-item.border-left-d.border-right-d
.gray-bg
section.numbers.pt30
    .numbers__item.border-left
        .text-block.pt150
            h2.border-left.pl20.h2-font.border-biggest мы в цифрах
            span.h1-font 15
            p.h4-font лет опыта в мебельной сфере
    .numbers__item.border-left
        .text-block.pt150
            span.h1-font 700+
            p.h4-font выполненных проектов
    .numbers__item.border-left
        .text-block.pt150
            span.h1-font 99%
            p.h4-font довольных клиентов
    .numbers__item.border-left.border-right
        .text-block.pt150
            span.h1-font 10
            p.h4-font дней - среднее время изготовления  
