.grid-template
    .border-item.border-left-d
    .border-item.border-left-d
    .border-item.border-left-d
    .border-item.border-left-d.border-right-d
.gray-bg
section.numbers.pt30
    .numbers__item.border-left
        .text-block.pt150
            h2.border-left.pl20.h2-font.border-biggest мы в цифрах
            h4.h1-font 
                <span class="h1-font number" data-number="15">0</span> 
            p.h4-font лет опыта в мебельной сфере
    .numbers__item.border-left
        .text-block.pt150
            h4.h1-font
                <span class="h1-font number" data-number="700">0</span> +
            p.h4-font выполненных проектов
    .numbers__item.border-left
        .text-block.pt150
            h4.h1-font
                <span class="h1-font number" data-number="99">0</span> %
            p.h4-font довольных клиентов
    .numbers__item.border-left.border-right
        .text-block.pt150
            h4.h1-font
                <span class="h1-font number" data-number="10">0</span> 
            p.h4-font дней - среднее время изготовления  
