.grid-template
    .border-item.border-left-d
    .border-item.border-left-d
    .border-item.border-left-d
    .border-item.border-left-d.border-right-d
section.portfolio.pt30
    //- .portfolio__item.border-left.pt250
    //-     .text-block
    //-         h2.border-left.pl20.h2-font.border-biggest наши работы
    //-         a(href="#").mt150.bold-link.active-link посмотреть что мы делаем
    //- .portfolio__item.border-left.portfolio__item-big
        
    //- .portfolio__item.border-left
        
    //- .portfolio__item.border-left.border-right
        
    //- .portfolio__galery
    //-     .portfolio__galery-body
    //-         .portfolio__galery-body-column
    //-             img(src="static/img/portfolio-1.png", alt="portfolio")
    //-             img(src="static/img/portfolio-4.png", alt="portfolio")
    //-             img(src="static/img/portfolio-7.png", alt="portfolio")
    //-         .portfolio__galery-body-column
    //-             img(src="static/img/portfolio-2.png", alt="portfolio")
    //-             img(src="static/img/portfolio-5.png", alt="portfolio")
    //-             img(src="static/img/portfolio-8.png", alt="portfolio")
    //-         .portfolio__galery-body-column
    //-             img(src="static/img/portfolio-3.png", alt="portfolio")
    //-             img(src="static/img/portfolio-6.png", alt="portfolio")
    //-             img(src="static/img/portfolio-9.png", alt="portfolio")