.facades-kinds__wrapper.main-padding.main-y-padding
    .facades-kinds__content
        h2.h2-font.pl20.border-left.mb25 Виды мебельных фасадов:
        .facades-kinds__items
            .facades-kinds__item
                img(src="/static/img/facades1.png", alt="facades").facades-kinds__item-img
                p.main-body.border-left.pl12.facades-kinds__item-text Из МДФ
            .facades-kinds__item
                img(src="/static/img/facades2.png", alt="facades").facades-kinds__item-img
                p.main-body.border-left.pl12.facades-kinds__item-text Деревянные
            .facades-kinds__item
                img(src="/static/img/facades3.png", alt="facades").facades-kinds__item-img
                p.main-body.border-left.pl12.facades-kinds__item-text Шпонированные
                
    include ../components/absolute_lines-d
