.painting-materials__wrapper.main-padding.main-y-padding
    .painting-materials__content
        a.h2-font.border-left.pl20.heading-arrow.mb40.painting-materials__heading материалы
        p.main-body.painting-materials__text Мы предлагаем покраску в любой цвет из палитр <b>RAL, NSC</b> и другие, используя ведущие итальянские лакокрасочные материалы.

        .painting-materials__images
            img(src="/static/img/painting__materials1.png", alt="цветовая палитра NSC", title="цветовая палитра NSC").painting-materials__img.painting-materials__img--first
            img(src="/static/img/painting__materials2.png", alt="цветовая палитра RAL", title="цветовая палитра RAL").painting-materials__img.painting-materials__img--second

    include ../components/absolute_lines